@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: Geist, Helvetica, sans-serif; */
  font-family: "PP Neue Montreal", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit (Chrome, Safari, etc.) */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --color-dark-bg: #181818;
    --color-dark-text: #181818;
    --color-orange: #ffbd7a;
    --color-pink: #e3afbe;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0, 0%, 9.4%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  @keyframes logo-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .logo-rotate {
    animation: logo-rotate .8s cubic-bezier(0.68,-0.55,0.27,1.55);
  }

  .scrollbar-hide {
    overflow: -moz-scrollbars-none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer et Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari et Opera */
  }

  .dark input::placeholder,
  .dark textarea::placeholder {
    color: var(--color-pink) !important;
    font-size: 13px !important;
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--color-pink) !important;
    font-size: 13px !important;
  }

  textarea {
    background-color: transparent;
  }

  .custom-rotate {
    transform: rotateZ(-90deg);
    transform-origin: center left;
  }

  .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 9999;
  }

  .loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .custom-hero__canvas canvas {
    object-fit: none;
    overflow: visible;
  }

  .recaptcha__wrapper iframe {
    border-radius: 0.5rem;
    max-height: 76px;
    max-width: 302px;
  }

  .scroll-hidden {
    opacity: 0; /* Masque l'élément au départ */
    transform: translateY(20px); /* Décale légèrement l'élément vers le bas */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Ajoute une transition pour la visibilité */
  }

  .scroll-visible {
    opacity: 1; /* Rend l'élément visible */
    transform: translateY(0); /* Remet l'élément à sa position d'origine */
  }

  /*
  ** Glow cards effect
  */
  .glow-section {
    /* height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 14px; */
  }

  .glow-section__card {
    flex-shrink: 0;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 5px;
    background-color: rgb(128, 128, 128, 0.1);
  }

  .glow-section__top-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    border-radius: 7px;
    height: 100%;
    font-size: 28px;
    background-color: rgb(26, 26, 26);
    transition: background-color 0.4s ease-out;
  }
  .glow-section__top-layer-text {
    color: #d2d2d2;
  }
  @media (pointer: fine) {
    .glow-section__card:hover > .glow-section__top-layer {
      background: rgb(26, 26, 26, 0.9);
    }
  }
  .glow-section__blob {
    filter: blur(40px);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.8);
  }
  .glow-section__blob.glow-section__blob--1 {
    background-image: linear-gradient(
        90deg,
        rgb(237, 237, 237),
        rgb(236, 236, 236)
      ),
      linear-gradient(
        135deg,
        rgb(163, 125, 62) 0%,
        rgb(163, 125, 62) 22%,
        rgb(149, 100, 59) 22%,
        rgb(149, 100, 59) 32%,
        rgb(134, 75, 56) 32%,
        rgb(134, 75, 56) 37%,
        rgb(120, 50, 53) 37%,
        rgb(120, 50, 53) 51%,
        rgb(105, 25, 50) 51%,
        rgb(105, 25, 50) 55%,
        rgb(91, 0, 47) 55%,
        rgb(91, 0, 47) 100%
      ),
      linear-gradient(
        112.5deg,
        rgb(163, 125, 62) 0%,
        rgb(163, 125, 62) 22%,
        rgb(149, 100, 59) 22%,
        rgb(149, 100, 59) 32%,
        rgb(134, 75, 56) 32%,
        rgb(134, 75, 56) 37%,
        rgb(120, 50, 53) 37%,
        rgb(120, 50, 53) 51%,
        rgb(105, 25, 50) 51%,
        rgb(105, 25, 50) 55%,
        rgb(91, 0, 47) 55%,
        rgb(91, 0, 47) 100%
      ),
      linear-gradient(
        90deg,
        rgb(163, 125, 62) 0%,
        rgb(163, 125, 62) 22%,
        rgb(149, 100, 59) 22%,
        rgb(149, 100, 59) 32%,
        rgb(134, 75, 56) 32%,
        rgb(134, 75, 56) 37%,
        rgb(120, 50, 53) 37%,
        rgb(120, 50, 53) 51%,
        rgb(105, 25, 50) 51%,
        rgb(105, 25, 50) 55%,
        rgb(91, 0, 47) 55%,
        rgb(91, 0, 47) 100%
      );
    background-blend-mode: overlay, overlay, overlay, normal;
  }
  .glow-section__blob.glow-section__blob--2 {
    background: rgb(255, 255, 255, 0.8);
  }
  .glow-section__blob.glow-section__blob--3 {
    background-image: linear-gradient(
      45deg,
      hsl(70deg 74% 46%) 0%,
      hsl(85deg 63% 53%) 8%,
      hsl(106deg 60% 59%) 17%,
      hsl(134deg 63% 58%) 25%,
      hsl(157deg 96% 43%) 33%,
      hsl(164deg 100% 42%) 42%,
      hsl(171deg 100% 42%) 50%,
      hsl(177deg 100% 42%) 58%,
      hsl(182deg 100% 43%) 67%,
      hsl(187deg 100% 46%) 75%,
      hsl(190deg 100% 48%) 83%,
      hsl(192deg 100% 49%) 92%,
      hsl(194deg 100% 50%) 100%
    );
  }
}
